<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title th:text="${pageTitle}"></title>
        <link rel="stylesheet" href="/internal/css/MoviePageStyleSheet.css">
        </head>
        <body>
            <h1><p th:text="${pageTitle}"></p></h1>
            <div id="template player" align="center">
                <video width="1280" height="729" controls>
                    <source th:src="'/'+${page}" type="video/mp4">
                </video>
                <table class="MovieInfo">
                    <tr>
                        <td class="value">Название</td>
                        <td class="definition"><p th:text="${RussianTitle}"></p></td>
                    </tr>
                    <tr>
                        <td class="value">Оригинальное название</td>
                        <td class="definition"><p th:text="${OriginalTitle}"></p></td>
                    </tr>
                    <tr>
                        <td class="value">Режиссер</td>
                        <td class="definition"><p th:text="${Directors}"></p></td>
                    </tr>
                    <tr>
                        <td class="value">Страна</td>
                        <td class="definition"><p th:text="${Countries}"></p></td>
                    </tr>
                    <tr>
                        <td class="value">Жанр</td>
                        <td class="definition"><p th:text="${Genres}"></p></td>
                    </tr>
                    <tr>
                        <td class="value">Год</td>
                        <td class="definition"><p th:text="${Year}"></p></td>
                    </tr>
                    <tr>
                        <td class="value">Продолжительность</td>
                        <td class="definition"><p th:text="${Duration}"></p></td>
                    </tr>
                </table>
                <h3><a href="/catalog">В каталог</a></h3>
            </div>



        </body>
    </html>