body{
	background-color: black;
        color: white; * Цвет текста */
        text-align: center;
}
        a:link {color: white } /* Цвет непросмотренной ссылки */
        a:visited {color: white; } /* Цвет посещенной ссылки */
        a:hover {color: red; } /* Цвет при наведении */
        a:active {color: green; } /* Цвет активной ссылки */
h1{
	font-size: 42px;
        color = white;
        font-family: "Impact";
        text-align: center;
}
h2{
        text-align: center;
}
.MovieInfo {
	width: 25%;
	margin-bottom: 1px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
}

.MovieInfo td {
    border-radius: 30px;
	border: 2px solid #dddddd;
    padding-right: 10px;
	height: 10px;
	width: 1200px;
}
.value{
    border-radius: 30px;
    text-align: right;
}
.definition{
    text-align: left;
     border-radius: 30px;

}
button{
    border: none;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        background: #0B63F6;
        box-shadow: 0 5px 0 #003CC5;
}

footer{
	text-align: center;
}
